$category-option-height: 120px
$category-option-width: 131px
$taglist-tag-width: $category-option-width

body#torrents
  // Search form
  // TODO: Icons for tags
  // TODO: Icons for category
  // TODO: Add height to category selection. See variables.
  // TODO: Better positioning of elements
  // TODO: General cleanup and styling needs to be applied
  form.search_form
    +remove-sunken-bordered-container
    width: $site-width
    margin-bottom: 20px

    // Remove stupid borders
    th, td
      border: 0

    // Form contents wrapper
    .box
      +sunken-bordered-container

    // Title
    h3
      margin-top: 0

    // Category selection
    table:first-child + table.cat_list
      +sunken-bordered-container
      display: block
      padding: 0
      tbody, tr, td
        display: block
      tr
        overflow: hidden
      td
        +box-sizing(border-box)
        float: left
        width: $category-option-width
        padding: 0
        position: relative
        overflow: hidden
        border-right: 1px solid $taglist-tag-border
        &:last-child
          border-right: 0
          width: $category-option-width - 1px
      // Checkbox
      input
        display: none
      // Label
      label
        color: $taglist-tag-link
        font-size: 11px
        font-weight: bold
        display: block
        padding: 8px 10px
      label:hover
        cursor: pointer
      input:checked + label
        background: $category-option-checked-background
        color: $category-option-checked-text

    // Tag list as <table>
    #taglist
      +sunken-bordered-container
      display: block
      margin-bottom: 10px
      padding: 0
      overflow: hidden
      tbody, tr, td
        display: block
      tr
        border-bottom: 1px solid $taglist-tag-border
        overflow: hidden
        &:last-child
          border-bottom: 0
      td
        float: left
        width: $taglist-tag-width
        padding: 0
        +box-sizing(border-box)
        border-right: 1px solid $taglist-tag-border
        &:last-child
          border-right: 0
          width: $taglist-tag-width - 1px
      a
        display: block
        padding: 8px 10px
        text-decoration: none
        color: $taglist-tag-link
        font-size: 11px
        font-weight: bold
        &:hover, &:active
          background: $taglist-tag-hover
          color: $taglist-tag-hover-link

    // View/hide tags link
    #taglist + table
      display: none

    // Actions and results count
    .submit
      text-align: right

    // Results count
    .submit span
      font-weight: bold
      &:before
        content: "Your search returned "

  // Results table
  #torrent_table
    width: $site-width
